#!/bin/sh

if command -v nodenv >/dev/null 2>&1; then
    # installing correct node version using nodenv
    nodenv install -s "$(cat .node-version)"
else
    # alternative using nvm
    # shellcheck source=/dev/null
    . ~/.nvm/nvm.sh
    nvm install "$(cat .node-version)"
fi
